html
head 
    link(rel="stylesheet", href="/css/footer.css")
body
    footer.footer-distributed
        .footer-left
            h3 Luxury Stay
                span.logo
            p.footer-links
                a.link-1(href="/") Home
                a(href="/Search") Search
                a(href="/Contact") Contact
            
        .footer-center
            div
                i.fa.fa-map-marker
                p
                    span 
                    | Raiwand Road, Lahore
            div
                i.fa.fa-whatsapp
                p +92-313-5085477
            div
                i.fa.fa-envelope
                p.mail
                    span
                    | LuxuryStay@solution4u.com
        .footer-right
            p.footer-company-about
                span What we offer
                | Discover Your Ideal Accommodation and Dining Experience at Luxury Stay. Benefit from Effortless Reservations, Tailored Suggestions, and Access to Unforgettable Adventures. Allow Us to Transform Your Travel into Cherished Memories That Last a Lifetime!





            
            .footer-icons
                a(href="https://www.facebook.com/profile.php?id=100010874988317")
                    i.fa.fa-facebook
                a(href="https://www.instagram.com/hasnain.477/")
                    i.fa.fa-instagram
                a(href="https://www.linkedin.com/in/hasnainali4/")
                    i.fa.fa-linkedin
                a(href="https://github.com/HasnainAli477/")
                    i.fa.fa-github
        p.footer-company-name Luxury Stay © 2023
