doctype html
html(lang="en")
head
      link(rel="stylesheet", href="/css/NearBy_Places.css")
body
    .container_Nearby
        h1.container-title NearBy Places 
        .cards
            .card-item
                .card-image
                    img(src="https://images.unsplash.com/photo-1584132967334-10e028bd69f7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80", alt="...")
                .card-info
                    h2.card-title Exploring around
                    p.card-intro Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .cards
            .card-item
                .card-image
                    img(src="https://images.unsplash.com/photo-1606046604972-77cc76aee944?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80", alt="...")
                .card-info
                    h2.card-title A new trail you can't miss
                    p.card-intro Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .cards
            .card-item
                .card-image
                    img(src="https://images.unsplash.com/photo-1629140727571-9b5c6f6267b4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=327&q=80", alt="...")
                .card-info
                    h2.card-title Inside the Outdoors
                    p.card-intro Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        button.see-all-button(style="float: right;") See All Places


